.container-todos-conteudos{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.container-conteudo-calendario{
    width: 700px;
    max-height: 500px;
}
.container-avisos{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100%;
    left: 0;
    margin-bottom: 40px;
    margin-left: 35px;
}
.list-item{
    max-width: 500px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 0;
}.list-item  svg {
margin-left: 0;
margin-right: 0;
}
.list-item button{
    margin-left: 430px;
    position: absolute;
}
.col-button button{
    background: #00cc7b;
    border: none;
}
.col-button button:hover{
    background: #00a997;
    border: none;
}
