.background {
    width: 100%;
    height: 100%;
    background-color: #cbf7c7;
    z-index: 999;
}

.Home {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    z-index: 999;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}